VITE_SUPABASE_URL=https://kbpwdmyhwuuhbapnxdrt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImticHdkbXlod3V1aGJhcG54ZHJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU0MjgwMzYsImV4cCI6MjA1MTAwNDAzNn0.w_yn7jtC5GgZuRXVQdnQ7sQ5iEJYPQkpfLFdP5_GNPU
